@media (max-width: 1199px) {
  nav {
    background-color: white;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    z-index: 200;
    padding-top: 3px;
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 74px;
  }

  .sidebar-links:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-links img {
    height: 24px;
    margin-bottom: 6px;
  }

  .sidebar-links div {
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  nav {
    background-color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 54px;
    left: 0;
    bottom: 0;
    z-index: 200;
    padding-top: 15px;
  }

  .sidebar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sidebar-links:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-links img {
    height: 25px;
    margin-right: 15px;
  }

  .sidebar-links div {
    font-size: 12px;
  }
}
